#view {
  float:left;
  margin-top: 10px
}

#filter_canvas {
  position: absolute;
  display:inherit;
  padding: 3px;
}

#startbutton {
  margin: 2px;
}

#photos_container {
  text-align:center;
  display:inline-block;
  vertical-align:top;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 2.5%;
  float: right;
  height: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}

.photos {
  display: block;
  background-color: #fafbfc;
  border: 3px solid #b0b0b0;
  margin-bottom: 5px;
  max-width: 320px;
  max-height: 240px;
  cursor: pointer;
}

#filters_container {
  text-align:center;
  display:inline-block;
  vertical-align:top;
}

.filters {
  background-color: #fafbfc;
  border: 3px solid #b0b0b0;
  margin: 5px 0 5px 0;
  max-width: 50px;
  max-height: 50px;

}

#upload_img {
  display:inline-block;
}

#upload_img button {
  width:auto;
  margin-left: 0;
}

#upload_img label {
  display:table;
  margin: auto;
  margin-bottom: -5px;
  padding-top: 10px;
}

#img_file {
  width: 350px;
  margin-right: 0;
}

#video {
  border: 3px solid #b0b0b0;
}

#video_img {
  display:none;
  margin:auto;
  max-width: 640px;
  max-height: 480px;
  border: 3px solid #b0b0b0;
}
