#camera {
}

#view {
  text-align:center;
  display:inline-block;
  vertical-align:top;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 2.5%;
  max-width: 95%;
}

#photos_container {
  text-align:center;
  display:inline-block;
  vertical-align:top;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 2.5%;
  float: right;
  max-width: 95%;
  height: 75vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.photos {
  display: block;
  background-color: #fafbfc;
  border: 3px solid #b0b0b0;
  margin: 5px 0 5px 0;
  max-width: 320px;
  max-height: 240px;
}

#upload_img {
  display:inline-block;
}

#upload_img button {
  width:auto;
  margin-left: 0;
}

#upload_img label {
  display:table;
  margin: auto;
  margin-bottom: -5px;
  padding-top: 10px;
}

#img_file {
  width: 350px;
  margin-right: 0;
}

#video_img {
  display:none;
  margin:auto;
  max-width: 320px;
  max-height: 240px;
}
