html{
}

body{
	background-color: #333;
	margin:0;
}

.main_container {
  display:inline-block;
  vertical-align:top;
  border-radius: 5px;
  background-color: #DEDABA;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error_msg {
	margin: 0;
	color: red;
	display: none;
}
